

html{
  background-color: cornflowerblue;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
  font-size: 2rem;
  padding: 1rem;
  text-align: center;}



.card{
  background-color: springgreen;
  border: 1px solid white;
  /* width: 30%; */
  display: flexbox;
  height: 8rem;
  border-radius: 0.5rem;
  padding: 1rem;
  /* margin: 1rem; */

}


.cards{
  display: flexbox;
  column-count: 3;
  padding: 2rem;





}


header span{
  color: rgb(233, 227, 227);
}